.phoneBook{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.phoneBookList{
  border: solid;
  width: 900px;
  border-radius: 5px;
}
.createModal{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 10px;
}

.phoneBookContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
